
<h2>Register</h2>

<mat-card>
    <form [formGroup]="form" (ngSubmit)="register()">
    <mat-card-content>
        <mat-form-field class="full-with">
            <input  matInput type="email" placeholder="Enter email"  formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-with">
            <input  matInput type="password" placeholder="Enter pasword"  formControlName="password">
        </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button   mat-raised-button color="primary">Register</button>
  </mat-card-actions>
</form>
</mat-card>